# Laravel system folders
/vendor
/node_modules
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Environment & configs
.env

# Git & Composer artifacts
.git
.gitignore
.gitattributes
composer.lock

# IDE & editor settings
.idea

